
.leaflet-container {
    position: relative;
    height: 600px;
    width:  100%
    z-index:1
}
.popupContent{
  overflow: auto; max-height :150px; position: relative;
}
.phonePopup p{
  margin: 3px 0 0 0
}
.phonePopup {
  margin: 20px 0
}
.leaflet-popup-content-wrapper {
    width: 260px
}
.geoPopup{
  margin: 20px 0 0 0
}
