<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<% _.forEach(htmlWebpackPlugin.files.css, function(file) { %>
  <link rel="stylesheet" href="<%- file %>">
<% }); %>
  <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.js"></script>
<% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
  <script src="<%- file %>" defer></script>
<% }); %>
<!-- <script type="text/javascript" src='./node_modules/moment/min/moment-with-locales.min.js'></script> -->
</head>
<div
  role="application"
  data-cozy-token="{{.Token}}"
  data-cozy-domain="{{.Domain}}"
  data-cozy-locale="{{.Locale}}"
  data-cozy-app-name="{{.AppName}}"
  data-cozy-icon-path="{{.IconPath}}"
>
